/*.container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media only screen and (max-width: 320px) {
.container {
    display: flex;
    flex-direction: column;
    /*flex-direction: column-reverse;*/
    /*flex-wrap: wrap;*/
    border: solid 0 red;
    justify-content: center;
    align-items: center;
    /*justify-content: space-between;*/
}
.child1 {
    display: flex;
    background: orange;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin: 5px;
}
.child2 {
    display: flex;
    background: orange;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin: 5px;
}
.child3 {
    display: flex;
    background: yellow;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin: 5px;
}
.child4 {
    display: flex;
    background: blue;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin: 5px;
}
.child5 {
    display: flex;
    background: blue;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin: 5px;
}
.child6 {
    display: flex;
    background: blue;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin: 5px;
}
    .child7 {
        display: flex;
        background: silver;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin: 5px;
    }
    .child8, .child9, .child10 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
.container3, .child7 {
    display: block;
    display: flex;
    flex-direction: column;
    /*flex-direction: column-reverse;*/
    /*flex-wrap: wrap;*/
    border: solid 0 red;
    justify-content: center;
    align-items: center;
    /*justify-content: space-between;*/
}
    .child7, .child8, .child9, .child10 {
        display: flex;
        flex-direction: column;
        background: silver;
        width: 45%;
        height: 50px;
        margin: 5px;
        display: block;
    }
    .child1 {
        display: flex;
        background: orange;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin: 5px;
    }
    .child2 {
        display: flex;
        background: orange;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin: 5px;
    }
    .child3 {
        display: flex;
        background: yellow;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin: 5px;
    }
    .child4 {
        display: flex;
        background: blue;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin: 5px;
    }
    .child5 {
        display: flex;
        background: blue;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin: 5px;
    }
    .child6 {
        display: flex;
        background: blue;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin: 5px;
    }
}**/