#menu a:link,
#menu a:visited {
    color: white;
    display: block;
    background: black;
    padding: 5px;
    text-decoration: none;
}
#menu a:hover {
    text-decoration: underline red 2px;
    color: black;
    font-weight: bold;
    background: silver;
    border: black solid 1px;
}
div {
    /*border: solid 0px black;*/
    padding: 5px;
    width: 300px;
    margin: 5px;
    display: inline-block;
}
.div1 {
    /*border: solid 0px black;*/
    padding: 5px;
    width: 300px;
    margin: 5px;
    font-weight: bold;
}

