#menu a:link,
#menu a:visited {
    color: white;
    display: block;
    background: black;
    padding: 5px;
}
#menu a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    background: silver;
}
div {
    border: solid 0px black;
    padding: 5px;
    width: 300px;
    margin: 5px;
    display: block;
}
.div1 {
    border: solid 0px black;
    padding: 5px;
    width: 300px;
    margin: 5px;
    font-weight: bold;
}
